---
import Layout from "../../layouts/Layout.astro";
import ProductManager from "../../components/admin/ProductManager";
import { ArrowLeft } from "lucide-react";
---

<Layout title="Admin | Tienda">
    <main class="min-h-screen bg-[#050505] pt-24 px-6 pb-20">
        <div class="max-w-7xl mx-auto">
            <a
                href="/admin"
                class="flex items-center text-neutral-500 hover:text-white mb-8 transition-colors font-mono text-xs uppercase tracking-widest gap-2"
            >
                <ArrowLeft size={16} /> Volver al Panel
            </a>

            <ProductManager client:only="react" />
        </div>
    </main>
</Layout>

<script>
    import { supabase } from "../../lib/supabase";
    const {
        data: { session },
    } = await supabase.auth.getSession();
    if (!session) window.location.href = "/lds";
</script>
